In [0]:
display(dbutils.fs.ls('dbfs:/FileStore/tables/'))

path,name,size,modificationTime
dbfs:/FileStore/tables/datos.csv,datos.csv,990,1683551395000
dbfs:/FileStore/tables/test1-1.csv,test1-1.csv,143,1683545355000
dbfs:/FileStore/tables/test1.csv,test1.csv,143,1683545317000

In [0]:
df=spark.read.csv('dbfs:/FileStore/tables/datos.csv', header=True, inferSchema=True, sep=';')

In [0]:
df.show(25)

+--------+------------------------+----+-----------+------------------+
|    Name|Tiempo_en_hospital_horas|Edad|Facturacion|          Hospital|
+--------+------------------------+----+-----------+------------------+
|   Laura|                    68.0|27.0|     9600.0|  Hospital Alberto|
|   Jorge|                    42.0|39.0|     6200.0|  Hospital Alberto|
|   Pablo|                    44.0|61.0|     6100.0|  Hospital Alberto|
|   Mario|                    46.0|46.0|     6500.0|Hospital Alejandro|
|  Marcos|                    68.0|27.0|     9200.0|     Hospital Jhon|
|   María|                    61.0|36.0|     9500.0|Hospital Alejandro|
|    Alba|                    45.0|62.0|     6100.0|Hospital Alejandro|
|Estrella|                    65.0|62.0|     8200.0|Hospital Alejandro|
|    Luna|                    65.0|30.0|     8500.0|     Hospital Jhon|
|  Carlos|                    40.0|39.0|     5300.0|  Hospital Alberto|
|  Noelia|                    50.0|46.0|     8000.0|  Hospital Alberto|
|   Gorka|                    67.0|33.0|     9000.0|  Hospital Alberto|
|   Jorge|                    65.0|41.0|     8400.0|Hospital Alejandro|
|     Ros|                    44.0|71.0|     6900.0|     Hospital Jhon|
|  Mónica|                    45.0|53.0|     7900.0|     Hospital Jhon|
|   Bruno|                    66.0|59.0|     8400.0|Hospital Alejandro|
|   Alice|                    47.0|74.0|     5400.0|  Hospital Alberto|
|   Lucía|                    42.0|40.0|     7700.0|     Hospital Jhon|
|    Alex|                    46.0|53.0|     5100.0|     Hospital Jhon|
|   Pedro|                    65.0|60.0|     8400.0|     Hospital Jhon|
|    null|                    45.0|79.0|     5400.0|  Hospital Alberto|
|    null|                    67.0|null|     8700.0|Hospital Alejandro|
|    null|                    null|null|     9400.0|     Hospital Jhon|
|    null|                    null|null|       null|  Hospital Alberto|
+--------+------------------------+----+-----------+------------------+

In [0]:
from pyspark.sql.functions import col   #Para identificar las filas con nulos.

filas_nulas = df.filter(col(df.columns[0]).isNull())
for columna in df.columns[1:]:
    filas_nulas = filas_nulas.union(df.filter(col(columna).isNull()))

filas_nulas = filas_nulas.distinct()

filas_nulas.show()

+----+------------------------+----+-----------+------------------+
|Name|Tiempo_en_hospital_horas|Edad|Facturacion|          Hospital|
+----+------------------------+----+-----------+------------------+
|null|                    null|null|       null|  Hospital Alberto|
|null|                    45.0|79.0|     5400.0|  Hospital Alberto|
|null|                    67.0|null|     8700.0|Hospital Alejandro|
|null|                    null|null|     9400.0|     Hospital Jhon|
+----+------------------------+----+-----------+------------------+

In [0]:
df.na.drop(how = 'any', thresh = 2).show(25)  #Aquí estamos dejando las filas que al menos tengan 2 valores No nulos.

+--------+------------------------+----+-----------+------------------+
|    Name|Tiempo_en_hospital_horas|Edad|Facturacion|          Hospital|
+--------+------------------------+----+-----------+------------------+
|   Laura|                    68.0|27.0|     9600.0|  Hospital Alberto|
|   Jorge|                    42.0|39.0|     6200.0|  Hospital Alberto|
|   Pablo|                    44.0|61.0|     6100.0|  Hospital Alberto|
|   Mario|                    46.0|46.0|     6500.0|Hospital Alejandro|
|  Marcos|                    68.0|27.0|     9200.0|     Hospital Jhon|
|   María|                    61.0|36.0|     9500.0|Hospital Alejandro|
|    Alba|                    45.0|62.0|     6100.0|Hospital Alejandro|
|Estrella|                    65.0|62.0|     8200.0|Hospital Alejandro|
|    Luna|                    65.0|30.0|     8500.0|     Hospital Jhon|
|  Carlos|                    40.0|39.0|     5300.0|  Hospital Alberto|
|  Noelia|                    50.0|46.0|     8000.0|  Hospital Alberto|
|   Gorka|                    67.0|33.0|     9000.0|  Hospital Alberto|
|   Jorge|                    65.0|41.0|     8400.0|Hospital Alejandro|
|     Ros|                    44.0|71.0|     6900.0|     Hospital Jhon|
|  Mónica|                    45.0|53.0|     7900.0|     Hospital Jhon|
|   Bruno|                    66.0|59.0|     8400.0|Hospital Alejandro|
|   Alice|                    47.0|74.0|     5400.0|  Hospital Alberto|
|   Lucía|                    42.0|40.0|     7700.0|     Hospital Jhon|
|    Alex|                    46.0|53.0|     5100.0|     Hospital Jhon|
|   Pedro|                    65.0|60.0|     8400.0|     Hospital Jhon|
|    null|                    45.0|79.0|     5400.0|  Hospital Alberto|
|    null|                    67.0|null|     8700.0|Hospital Alejandro|
|    null|                    null|null|     9400.0|     Hospital Jhon|
+--------+------------------------+----+-----------+------------------+

In [0]:
df.na.fill({'Name':'Roberto', 'Tiempo_en_hospital_horas':10, 'Edad':36}).show(25)  #Rellenamos los valores nulos con otros datos.

+--------+------------------------+----+-----------+------------------+
|    Name|Tiempo_en_hospital_horas|Edad|Facturacion|          Hospital|
+--------+------------------------+----+-----------+------------------+
|   Laura|                    68.0|27.0|     9600.0|  Hospital Alberto|
|   Jorge|                    42.0|39.0|     6200.0|  Hospital Alberto|
|   Pablo|                    44.0|61.0|     6100.0|  Hospital Alberto|
|   Mario|                    46.0|46.0|     6500.0|Hospital Alejandro|
|  Marcos|                    68.0|27.0|     9200.0|     Hospital Jhon|
|   María|                    61.0|36.0|     9500.0|Hospital Alejandro|
|    Alba|                    45.0|62.0|     6100.0|Hospital Alejandro|
|Estrella|                    65.0|62.0|     8200.0|Hospital Alejandro|
|    Luna|                    65.0|30.0|     8500.0|     Hospital Jhon|
|  Carlos|                    40.0|39.0|     5300.0|  Hospital Alberto|
|  Noelia|                    50.0|46.0|     8000.0|  Hospital Alberto|
|   Gorka|                    67.0|33.0|     9000.0|  Hospital Alberto|
|   Jorge|                    65.0|41.0|     8400.0|Hospital Alejandro|
|     Ros|                    44.0|71.0|     6900.0|     Hospital Jhon|
|  Mónica|                    45.0|53.0|     7900.0|     Hospital Jhon|
|   Bruno|                    66.0|59.0|     8400.0|Hospital Alejandro|
|   Alice|                    47.0|74.0|     5400.0|  Hospital Alberto|
|   Lucía|                    42.0|40.0|     7700.0|     Hospital Jhon|
|    Alex|                    46.0|53.0|     5100.0|     Hospital Jhon|
|   Pedro|                    65.0|60.0|     8400.0|     Hospital Jhon|
| Roberto|                    45.0|79.0|     5400.0|  Hospital Alberto|
| Roberto|                    67.0|36.0|     8700.0|Hospital Alejandro|
| Roberto|                    10.0|36.0|     9400.0|     Hospital Jhon|
| Roberto|                    10.0|36.0|       null|  Hospital Alberto|
+--------+------------------------+----+-----------+------------------+

In [0]:
df = df.na.drop()